[Desktop Entry]
Type=Application
Name=Simplewebserver
GenericName=SimpleWebServer
Comment=a front end for simple web server
Exec=swsgtk3
Icon=applications-internet
Terminal=false
Categories=Network;